* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.mycard {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.start {
  justify-content: center;
  align-items: center;
  width: 80vw !important;
  height: 50vh;
  border: #ccc 1px solid !important;
  box-shadow: 8px 8px #eee;
  border-radius: 5px;
}

.quiz {
  margin: auto;
  margin-top: 2rem;
  width: 80vw;
  height: 120vh;
  border: #ccc 1px solid !important;
  box-shadow: 8px 8px #eee;
  border-radius: 5px;
}

.mcq {
  font-size: 22px;
}

.next {
  width: 30vw;
  margin: auto;
}

.option {
  height: 185vw;
}

